<!-- include header -->
<%- include('include/_header-site') %>
    <!-- /include header -->

    <div class="home">
      <div class="bpremier">
                 <div class="ecri"> 
                     <h1>  Souriez avec confiance . <br><span> Votre Partenaire</span> en soins<br> dentaires ! </h1>
                     <p><strong>Bienvenue</strong> chez notre cabinet dentaire ! <br>Nous sommes engagés à fournir les soins dentaires les plus qualifié
                      ,les dernières technologies et le meilleurs servvices dentaires à tous nos patients. <br> Nous somme impatients de vous 
                      aider à atteindre et à maintenir une santé bucco-dentaire optimale et à vous soutenir tout au long de votre voyage dentaire
                      .</p>
                 </div>
                 <div class="im">
                  <img src="img/docteur.jpg">
                 </div> 
      </div> 
      
      </div>
     <div class="bdeuxieme">
        <div class="bloccone">
           <img src="img/2.jpg">
        </div>
        <div class="blocctwo">
            <h4> <span>Dentismile</span><br> Dental Care</h4>
            <h1> Le meilleur soin, le plus complet pour vos dents  </h1>
            <p> On va vous assurer un soin complet tout au long de votre traitement pour vos dents  . </p>
            <p>Vous pouvez prendre un rendez-vous en ligne <br>en choisissant le crenau qui vous convient ! il suffit<br> juste de vous connecter si vous avez déja un compte
            <br> ou de vous inscrire ci dessous :</p>
            <br>
            <div class="bott">
              <a href="/Inscription"><button   class="bloc3" >
              <font color="white" size="3"> S'inscrire </font> </button></a>
              <a href="/connexion">
              <button    class="bloc4" >
              <font color="#0BA4AB" size="3"> Se connecter </font>
              </button></a>
            </div>
        </div>
      </div> 
      <div class= "btroisieme">
        <br>
        <h2> Nos Traitements et résultats </h2>
        <i id="left" class="fa-solid fa-angle-left"></i>
       <div class="slider">
           <img src="img/im1.jpg" draggable="false">
           <img src="img/im2.jpg"draggable="false">
           <img src="img/im3.jpg"draggable="false">
           <img src="img/im4.jpg"draggable="false">
           <img src="img/im5.jpg" draggable="false">
           <img src="img/im6.jpg" draggable="false">
           <img src="img/fond7.jpg" draggable="false">
           <img src="img/fond8.jpg" draggable="false">        
       </div>
       <i id="right" class="fa-solid fa-angle-right"></i>
   </div>

<!-- include footer -->
<%- include('include/_footer-site') %>
<!-- /include footer -->