<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->
    <div class="fiche" id="ajouter-consultation">
        <form class="form" action="/consultation" method="post" id="cons" onsubmit="return validerFormconsultation()">
            <div class="m">
                </i>
                <a href="/index-dossier" style="text-decoration-line: none;">
                    <font style="font-size:20px">
                        <i class="fas fa-angle-left prev"></i>Voir tous les dossiers
                    </font>
                </a>
            </div>
            <h2> Ajouter consultation</h2>

            <div class="content">
                <div class="input-box">
                    <label for="nom">Nom </label>
                    <input type="text" id="nom" name="nom" value="<%= doss.nom %>">
                </div>
                <div class="input-box">
                    <label for="prenom" style="margin-left:10% ">Prénom </label>
                    <input type="prenom" id="prenom" name="prenom" value="<%= doss.prenom%>">
                </div>
                <div class="input-box">
                    <label for="date">Date </label>
                    <input type="text" id="date" name="date" placeholder="jj/mm/aaaa">
                </div>
                <div class="input-box">
                    <label for="sexe" style="margin-left:10%">Motif de consultation</label>
                    <br>
                    <select id="motif" name="motif" style="color: #000;">
                        <option value="Chirurgie buccale" style="color: #000;">Chirurgie buccale</option>
                        <option value="Blanchiment dentaire" style="color: #000;">Blanchiment dentaire</option>
                        <option value="Dentisterie esthétique" style="color: #000;">Dentisterie esthétique</option>
                        <option value="Endondontie" style="color: #000;">Endondontie</option>
                        <option value="Endondontie" style="color: #000;">Paradontologie</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="médicament">Traitements/Médicaments </label>
                    <textarea id="médicament" rows="7" name="traitement" cols="55" style="border:1px solid #ccc; ">

                            </textarea>

                </div>
                <div class="input-box">
                    <label for="notes" style="margin-left:10%">Notes</label>
                    <textarea id="notes" rows="7" cols="55" name="note" style="border:1px solid #ccc; ">

                          </textarea>
                </div>

                <br>
                <button type="submit" class="bloc8" style="height: 45px;">
                    <font color="white" size="4"> Sauvegarder </font>
                </button>





                <br>
                <br>
            </div>
        </form>
    </div>
    </div>
    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->