<!-- include header -->
<%- include('include/_header-site') %>
    <!-- /include header -->

    <section class="banner">
    </section>
    <section class="nana">
        <div class="left">
            <span>
                <font size="6" color="#1A17A5" face="Arial Black (sans-serif)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos
                    Horaires</b>
            </span></font> <br>
            <br>
            Dimanche&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De 8h00 à 16h30
            <HR>
            Lundi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; De
            8h00 à 16h30<br>
            <HR>
            Mardi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De
            8h00 à 16h30<br>
            <HR>
            Mercredi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De 8h00 à 16h30<br>
            <HR>
            Jeudi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De
            8h00 à 16h30<br>
            <HR>
            Vendredi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fermé<br>
            <HR>
            Samedi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De 8h00 à
            16h30<br>
            <HR>
        </div>
        <div class="right">
            <font color="black" size="4.5" face="Souvenir">
                Vous pouvez prendre un <b>rendez-vous </b> en ligne <br>
                rapidement sans avoir à se deplacer jusqu’au cabinet,<br>
                en choisissant le crenau libre qui vous convient <br>
                directement sur le calendrier des <b>rendez-vous </b> <br>
                de notre cabinet ! <br>
            </font>
        </div>
    </section>
    <a href="/connexion">
        <button class="bloc2">
            <font color="white" size="4"> Prendre un rendez-vous </font>

        </button>
    </a>
    <br>
    <br>
    <!-- include footer -->
    <%- include('include/_footer-site') %>
        <!-- /include footer -->