<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Un excellent dentiste à Bejaia offre aux enfants et adultes des soins de qualité un cabinet dentaire moderne et conviviale "
        WHEN I MAKE MY CLIENTS SMILE THAT'S REAL SUCCES"" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/conn.css">
    <script src="insc.js" defer></script>
</head>

<body>
    <div class="container" id="container-right">
        <div class="form-container sign-up-container">

            <form class="inscription-form" action="/login" method="POST">
                <h1 class="a">Connectez-vous</h1>

                <div class="social-container">
                    <a href="/inscription">
                        <span class="c">Je n'ai pas de compte</span>
                    </a>

                </div>
                <br>

                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Mot de passe" class="w">
                <input type="submit" value="Se connecter" class="b">
            </form>
        </div>

        <div class="overlay-container" id="container-left">
            <div class="overlay">
                <div class="overlay-left">
                    <h1 class="e">Bienvenue!</h1>
                    <br>
                    <span class="f">Créer un compte et rejoindre notre <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Communauté.</span>
                    <br>
                    <a href="/inscription"> <input type="submit" value="S'inscrire" class="n"></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>