<!-- include header -->
<%- include('include/_header') %>
  <!-- /include header -->
  <div class="fiche" id="certificat">

    <div class="b">
      <br>
      <div class="m" style="margin-top: -1%;">
        <a href="/index-dossier" style="text-decoration-line: none;">
          <font class="voir" style="font-size:20px;">
            <i class="fas fa-angle-left prev" style="margin-left:-2%"></i>Voir tous les dossiers
          </font>
          <br>
        </a>
      </div>
      <font style="color:#1A17A5; size:5">
        <i class="fa-regular fa-file fa-lg" style="margin-left:30%;margin-top:3%"></i>
        <b>Ordonance de Mebarakou Amina</b>
      </font>


    </div>
    <br>
    <br>

    <div class="ordo" style="margin-top:-3%">
      <table id="table">

        <thead>
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Médicaments</th>
            <th>Note</th>
            <th>Supprimer</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1
            </td>
            <td>
              13/20/2020
            </td>
            <td>
              Doliprane
            </td>
            <td>
              Deux fois par jour
            </td>
            <td>
              <i class="fa-solid fa-trash" style="color: #f80d0d;"></i>
            </td>


          </tr>

        </tbody>
      </table>
    </div>

  </div>
  </div>
  <!-- include footer -->
  <%- include('include/_footer') %>
    <!-- /include footer -->