<!-- include header -->
<%- include('include/_header-site') %>
    <!-- /include header -->
     
    <section class="services" id="services">
        <div class="container">
             <h1 class="heading">Nos Services </h1>
             <div class="box-container">
               <div class="box">
                 <img src="img/Chirurgie.jpeg" alt="">
                 <div class="content">
                    <h3>Chirurgie buccale </h3>
                    <p> 
                     La chirurgie buccale est le domaine de la médecine dentaire qui comprend la chirurgie dento-maxillo-faciale et la chirurgie d'implantation. La chirurgie buccale peut traiter des affections dentaires et maxillofaciales telles que les infections dentaires et les difformités faciales. </p>
                
                  </div>
              </div>
              <div class="box">
                <img src="img/Dentisterie.jpeg" alt="">
                <div class="content">
                  <h3> Dentisterie esthétique </h3>
                  <p> La dentisterie esthétique est une branche de la dentisterie qui se concentre sur l'amélioration de l'apparence des dents. Elle comprend des traitements tels que le blanchiment des dents, le remplacement des amalgames, l'ajout de restaurations pour améliorer l'apparence des dents et le recouvrement des dents abîmées. </p>
                   
                </div>
              </div>
              <div class="box">
                 <img src="img/Blanchiment.jpeg" alt="">
                 <div class="content">
                   <h3>Blanchiment dentaire </h3>
                   <p> Le blanchiment dentaire est un moyen de blanchir les dents en enlevant les taches et en les rendant plus brillantes. Il est généralement réalisé par un dentiste et peut être fait à la maison à l'aide de produits spécialement conçus pour le blanchiment des dents. </p>
                  
                 </div>
             </div>
             <div class="box">
               <img src="img/Endodonie (1).jpeg" alt="">
               <div class="content">
                 <h3> &nbsp;&nbsp;&nbsp;&nbsp;Endondontie </h3>
                 <p> L'endondontie est un domaine de la dentisterie qui se concentre sur le traitement et la prévention des maladies et des conditions affectant les tissus dentaires et les racines dentaires. Cela peut inclure le nettoyage, le remplissage et la restauration de canaux de racine, ainsi que l'extraction de dents abîmées ou défectueuses. </p>
                
               </div>
           </div>
           <div class="box">
             <img src="img/Paradontologie.jpeg" alt="">
             <div class="content">
               <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paradontalogie</h3>
               <p> La paradontologie est la spécialité de la médecine dentaire qui se concentre sur le diagnostic et le traitement des maladies des gencives et des os qui soutiennent les dents. Cela inclut le traitement</p>
             
             </div>
         </div>
               
           </div>
         </div>
       </section>
    <!-- include footer -->
    <script  src="js/services.js" defer></script> 
    <%- include('include/_footer-site') %>
        <!-- /include footer -->