<iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12807.114827600672!2d5.246426!3d36.631713!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f2dbcc82cc3a5b%3A0x690e27ff1001b347!2sCabinet%20dentaire%20Dr.%20ZIZI!5e0!3m2!1sfr!2sdz!4v1678436265976!5m2!1sfr!2sdz"
  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>
<footer>
  <div class="contenu-footer">
    <div class="bloc-logo">
      <h5> <span>Dentismile</span><br>&nbsp;&nbsp; Dental Care</h5>
      <p> </p>
    </div>
    <div class="bloc-links">
      <ul class="link">
        <h3> &nbsp;&nbsp;Liens</h3>
        <li><a href="/Accueil"> Accueil</a></li><br>
        <li><a href="/Services"> Services</a></li><br>
        <li><a href="/cantact"> Contact</a></li>
      </ul>
    </div>
    <div class=" bloc-cantact">
      <ul class="cantact">
        <h3> Cantactez-Nous </h3>
        <li> <a href="tel: 0776482025"> 0776482025</a></li><br>
        <li> <a href="mailto:drzizilyes@gmail.com"> drzizilyes@gmail.com</a></li><br>
        <li><a
            href=" https://www.google.com/maps/place/Cabinet+dentaire+Dr.+ZIZI/@36.6317133,5.244237,17z/data=!4m14!1m7!3m6!1s0x12f2dbcc82cc3a5b:0x690e27ff1001b347!2sCabinet+dentaire+Dr.+ZIZI!8m2!3d36.6317133!4d5.2464257!16s%2Fg%2F11j7ywlhc2!3m5!1s0x12f2dbcc82cc3a5b:0x690e27ff1001b347!8m2!3d36.6317133!4d5.2464257!16s%2Fg%2F11j7ywlhc2?hl=fr">
            Cité des palmiers, Aokas,Bejaia</a></li><br>
      </ul>
    </div>
    <div class="bloc-reseau">
      <h3> Suivez-nous</h3>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://facebook.com/CabinetDentaireDrZIZI"><img
            src="img/facebook-circular-logo.png" alt="icone réseau sociaux"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
          href="https://instagram.com/cabinet.dentaire.dr.zizi?igshid=YmMyMTA2M2Y="><img src="img/instagram (4).png"
            alt="icone réseau sociaux"></a></li>
      <div>
      </div>
      <br>
      <hr>
</footer>

</body>
</body>

</html>