<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Un excellent dentiste à Bejaia offre aux enfants et adultes des soins de qualité un cabinet dentaire moderne et conviviale "WHEN I MAKE MY CLIENTS SMILE THAT'S REAL SUCCES"" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/Projet.css">
    <script  src="js/script.js" defer></script> 
   
    <title>Cabinet dentaire</title>
</head>
<body>
  <header>
    <div class="container">
        <a href="#" class="logo">
            <img src="img/dentismile.png">
        </a>
        <nav class="navbar">
            <ul style="margin-left:-0.5%">
                <li><a href="/accueil">Accueil</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="Cantact">Contact</a></li>
                <li>
                    <a href="/connexion"><button  class="bloc44" >
                  <font color="white" size="3" style=" color:#0BA4AB;"> Se connecter </font> </button></a>
              
                </li>
                <li><a href="/Inscription"><button   class="bloc33" >
                  <font color="white" size="3"> S'inscrire </font> </button></a>
                  
                </li>
            </ul>
            <ul>
            </ul>
        </nav>
        <div class="fas fa-bars"></div>
    </div>
</header>

    <script>
        /* Small screens */
        /* ... Votre code CSS existant ... */
        
        /* JavaScript pour basculer le menu */
        const navToggle = document.querySelector('.fa-bars');
        const navMenu = document.querySelector('.navbar ul');
      
        navToggle.addEventListener('click', () => {
          navMenu.classList.toggle('active');
        });
      </script>
      