body {
    font-family: Montserrat;
    height: 100vh;
    text-decoration-line: none;
    flex-direction: column;
    background: #e9FFFF;
    list-style: none;



}

header {
    border-bottom: #1A17A5;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3%;
    position: sticky;
    height: 10%;
    box-shadow: 0px 2px 1.5px 1px #d8d5d5;

}

header .logo img {
    width: 40%;
    height: 9%;
    margin-left: -5%;

}

.page {
    width: 100%;
    height: 90%;
    margin-top: 15px;
    list-style: none;
}

.page .nav {
    float: left;
    width: 20%;
    height: 120%;
    background: #fff;
    position: relative;
}

.page .fiche {
    float: right;
    width: 78%;
    height: 120%;
    background: #fff;
}


.fiche .b {
    height: 16%;
    box-shadow: 0px 2px 0px 0px #d8d5d5;
}

.fiche .b font {
    font-size: 20px;
    margin-left: 3%;
    margin-top: 2%;
}

.fiche a {
    text-decoration: none;
    color: #fff;

}

.fiche .ajouter,
.fiche .ajouter2 {
    margin-left: 60%;
    background-color: #1A17A5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 2%;
}

.fiche .ajouter2 {
    margin-left: 50%;
}

.cont {
    display: flex;
    background-color: #fff;
    border-radius: 3%;

}


.image {
    width: 35%;

}


.form {

    padding-left: 4%;
    padding-right: 4%;
    background-color: #fff;
    background-size: 100%;
    box-sizing: border-box;
    font-weight: 30px;
    font-size: 20px;
    line-height: 40px;

}

.for {
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FFF;
    background-size: 100%;
    width: 60%;
    box-sizing: border-box;
    font-weight: 30px;
    font-size: 15px;
    line-height: 40px;
    margin-top: -400px;
    margin-left: 18%;
    border: 1px solid silver;

}

.form h2,
.for h2 {
    color: #0BA4AB;
    margin-left: 38%;
}

.form .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.for .content {
    justify-content: space-between;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;

}

.for .input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.form .input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 3px;
}

.for.input-box:nth-child(2n),
.form .input-box:nth-child(2n) {
    justify-content: end;
}

.form .input-box label {

    width: 200%;
    font-size: 17px;

}

.for .input-box label {
    font-size: 20px;
    width: 100%;

}

.form .input-box input {
    height: 27px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.8px solid #ccc;
    font-size: 13px;
}

.form .input-box input:not(.mdp):hover {
    background-color: #e9FFFF;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 0px 0px #e9FFFF;

}


.for .input-box input {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-left: 15px;

}

.form .adr {
    width: 100%;
    height: 27px;
    padding: 0 px;
    border-radius: 5px;
    border: 0.8px solid #ccc;
}

.form .adr:hover {
    background-color: #e9FFFF;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 0px 0px #e9FFFF;
}

.form select {
    width: 90%;
    max-width: 420px;
    height: 30px;
    padding: 0 2px;
    border-radius: 5px;
    border: 0.8px solid #ccc;
    font-size: 17px;
}

.form select:hover {
    background-color: #e9FFFF;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 0px 0px #e9FFFF;
}

.bloc7 {
    background: #fff;
    color: #0BA4AB;
    border-color: #0BA4AB;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0px -5px -5px 0px;
    transition: all .2s;


}

.bloc9 {
    background: #fff;
    color: #0BA4AB;
    border-color: #0BA4AB;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0px -5px -5px 0px;
    transition: all .2s;
    margin-top: 15px;
    margin-left: 650px;
    height: 35px;

}



.bloc8 {
    border: 0;
    background: #0BA4AB;
    color: white;
    cursor: pointer;
    transition: all .2s;
    box-shadow: 0px -5px -5px 0px;
    font-size: 1rem;
    width: 100%;

}

.blocD {
    border: 0;
    background: #0BA4AB;
    color: white;
    cursor: pointer;
    transition: all .2s;
    border-radius: 5px;
    box-shadow: 0px -5px -5px 0px;
    font-size: 0.5rem;
    width: 100%;
}

.form .bloc8 {
    margin-top: 15px;
    font-size: 1rem;
    height: 35px;

}

.form .bloc9:hover,
.form .bloc7:hover,
.form .bloc8:hover {
    transform: translate(0, -3px);
    box-shadow: 0px 2px 0px 0px #d9f2f3;
}

.botton-container {
    margin-left: 300px;
}

.input-box i {
    margin-left: -5%;
    margin-top: 1%;
}

.input-box i.active::before,
#ii.active::before {
    content: '\f070';
}

@media(max-width:1300px) {
    .form-container {
        min-width: 280px;

    }

    .form.content,
    .form.content {
        max-height: 280px;
        overflow: auto;

    }

    .for .input-box,
    .form .input-box {
        margin-bottom: 12px;
        width: 100%;
    }

    .for .input-box:nth-child(2n),
    .form .input-box:nth-child(2n) {

        justify-content: space-between;
    }

    .botton-container {
        margin-left: 50px;
    }

}

.rechercher {

    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 3%;

}

.rechercher input {
    width: 250px;
    height: 30px;
    color: #7B7B7B;
    font-size: 15px;

}

.rechercher i {

    position: static;
    margin-left: -40px;
    height: 1%;
    width: 20px;

}

.user {
    list-style: none;
    margin-left: -16%;
    height: 10%;
    margin-top: -4%;
    box-shadow: 0px 2px 0px #d8d5d5;

}

.user i {
    font-size: 50px;
    margin-top: 10%;
    padding-left: 5%;

}

.user span {
    float: right;
    margin-right: 40px;
    font-weight: 250px;
    margin-top: -7%;

}

.nav li {
    list-style: none;
    font-size: 18px;
}

.nav ul li {

    justify-content: space-between;
    overflow: hidden;
    position: relative;

}

a[href="/index_fiche"]:active,
a[href="/index_fiche"]:focus {
    color: #0BA4AB;
}

.title a:active,
.title font:hover,
.rdv font:hover,
.rdv font:active {
    color: #0BA4AB;
}


.containerr {
    position: relative;
    margin: 3%;
    margin-top: 1%;
    width: 95%;

    background-color: #0BA4AB;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left {
    width: 65%;
    height: 100%;
    margin-left: -5%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 2px 3px 3px 2px #dde7ea;
    ;
}

.calendar {

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #1A17A5;
    background-color: #dde7ea;



}

.month {
    width: 90%;
    height: 60px;
    background-color: #dde7ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
}

.month i {

    font-size: 1.8rem;
    cursor: pointer;
}

.month i:hover {
    color: #1A17A5;
    text-transform: capitalize;
    font-size: 2.5rem;
}


.weekdays {
    width: 98%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: capitalize;
}

.weekdays div {
    font-size: 20px;
    width: calc(100%/7);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.days {

    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 400;
    margin-left: -100%;
    margin-top: 10%;



}


.days .day {

    width: 13%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #c3bebe;
}

.day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: #0BA4AB;

}

.days .prev-date,
.days .next-date {
    color: #807f7f;
}

.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: #1A17A5;

}

.calendar .days .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px 2px #0BA4AB;
}


.calendar .days .event {
    position: relative;
}


.calendar.days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 6px;
    transform: translate(-50%);

}

.calendar .days .active.event::after,
.calendar .goto-today {
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #807f7f;
    margin-top: 3%;
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #807f7f;

}

.calendar .goto-today .goto input {
    width: 80%;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    color: #807f7f;
    font-size: 10px;
    background-color: transparent;

}

.calendar .goto-today button {
    padding: 5px 10px;
    height: 30px;
    border: 1px solid #807f7f;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #807f7f;
    font-size: 15px;
}

.calendar .goto-today button:hover {
    color: #fff;
    background-color: #0BA4AB;
}

.calendar .goto-today .goto button:hover {
    border: none;
    border-left: 1px solid #0BA4AB;
    border-radius: 0;

}

.containerr .right {
    position: relative;
    min-height: 100%;
    padding: 10px 0;

}



.right .today-date {
    position: initial;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    text-transform: capitalize;
    margin-left: -20%;


}

.right .today-date .event-day {

    font-size: 1.2rem;
    font-weight: 400;
    margin-top: -170%;
    color: #fff;

}

.right .today-date .event-date {

    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin-top: -170%;
    margin-left: -20%;

}

.events {
    position: absolute;
    width: 110%;
    height: 250%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-left: -7%;
    border-radius: 10px;
    margin-top: -90%;

}

.events .event {
    position: relative;
    width: 90%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    cursor: pointer;

    margin-left: 10%;
    cursor: pointer;
}

.events .event:nth-child(even) {
    background: transparent;

}

.events .event:hover {
    background: linear-gradient(180deg, #2bc7cd, transparent);

}

.events .event .title {
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-left: 20px;
    font-size: 15px;

}

.events .event .title .event-title {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 10px;
}

.events .event i {
    color: #c3bebe;
    margin-top: 8%;
    font-size: 0.7rem;

}

.events .event:hover i {
    color: #fff;
}

.events .event .event-time {
    font-size: 0.8rem;
    font-weight: 250;
    color: #fff;
    margin-left: 15px;
    pointer-events: none;
}

.events .event:hover .event-time {
    color: #fff;

}

/* add tick in event after */
.events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2.5rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #fff;
    transform: translateY(-50%);
}

.events .event:hover::after {
    display: flex;
}

.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #474752;
    border: 2px solid #474752;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}

.events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;


}

.add-event-wrapper {
    position: absolute;
    bottom: 150px;
    left: 60%;
    width: 110%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
    margin-bottom: -90%;
}

.add-event-wrapper.active {
    max-height: 270px;
}

.add-event-header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    color: #0BA4AB;
    border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
    font-size: 1.5rem;

    cursor: pointer;
    color: #04041b;

}

.add-event-header .close:hover {
    color: var(--primary-clr);
}

.add-event-header .title {
    font-size: 1rem;
    font-weight: 400;
}

.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;


}

.add-event-body .add-event-input {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.add-event-body .add-event-input input,
.add-event-body .add-event-input select option {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    margin-top: 1%;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: #373c4f;
}

.add-event-body .add-event-input select {

    border-bottom: 1px solid #f5f5f5;
    color: #373c4f;

}

.add-event-body .add-event-input select option {
    border: #a5a5a5;
}

.add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
}

.add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--primary-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
}

.add-event-footer {
    display: flex;
    padding: 10px;
}

.add-event-footer .add-event-btn {
    height: 40px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 70%;
    color: #fff;
    background-color: #0BA4AB;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    border: 1px solid var(--primary-clr);
}

.add-event-footer .add-event-btn:hover {
    background-color: #0BA4AB;
    color: #fff;
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #b38add;
}

.credits a {
    text-decoration: none;
    font-weight: 600;
}

.credits a:hover {
    text-decoration: underline;
}


/* media queries */

@media screen and (max-width: 600px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }

    .container .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .container .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }

    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }

    .events {
        padding-bottom: 340px;
    }

    .add-event-wrapper {
        bottom: 100px;
    }
}

@media screen and (max-width: 500px) {
    .calendar .month {
        height: 75px;
    }

    .calendar .weekdays {
        height: 50px;
    }

    .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
    }

    .calendar .days .day.active,
    .calendar .days .day.today {
        font-size: 1rem;
    }

    .right .today-date {
        padding: 20px;
    }
}



table {
    border-collapse: collapse;
    width: 97%;
    margin-left: 3%;
    margin-top: 3%;

}

td,
th {
    border: 2px solid #c3bebe;
    text-align: center;
    padding: 5px;
    height: 15px;
    width: 80px;
    font-size: 20px;
    color: #1A17A5;
    background-color: #f1f9f9;

}

th {
    color: #EBF4F4;
    background-color: #04a3ab;
}


.right {
    position: relative;

    min-height: 100%;
    padding: 20px 0;

}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.today-date .event-day {
    font-size: 3rem;
    font-weight: 400;
    color: #1A17A5;
}



.a {
    width: 40px;
}

.c {
    width: 55px;
}

.m {
    margin-left: 3%;
    margin-top: 2%;
    font-size: 20px;

}

.m font:hover {
    color: #04a3ab;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.m font {
    color: black;
}

.userform {
    margin: 0 auto;
    margin-top: 10%;
    margin-left: 20%;
    width: 55%;


    padding: 0% 5% 0% 5%;
    /* Ajoutez d'autres propriétés de style si nécessaire */
}

.day.friday {
    color: red;
    pointer-events: none;
}

.userform input[type="text"] {
    padding: 10px;

    border: 1px solid #0BA4AB;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 5%;
    width: 65%;
    height: 10%;
    box-shadow: 0 2px 1px 0 #0BA4AB;
    /* Ajoutez d'autres propriétés de style si nécessaire */
}

.userform .bloc8 {
    border-radius: 8px;
}

.userform .bloc8:hover,
.userform input[type="text"]:checked,
.userform input[type="text"]:hover {
    border: 1px solid #0BA4AB;
    border-radius: 4px;
    transform: translate(0, -8px);
    box-shadow: 0px 2px 2px 0px #0BA4AB;
}

.formuser {
    width: 40%;
    height: 50%;
    padding: 0 auto;
    border-bottom: #04a3ab;
    border-radius: 5px;
    margin-left: 50%;
    margin-top: 10%;
}

.formuser input {
    width: 60%;
    height: 20px;
    border-radius: 5px;

}

.fiche .info-perso {
    height: 19.5%;
    box-shadow: 0px 2px 0px 0px #d8d5d5;
}

.fiche .nom {
    height: 4.5%;
    box-shadow: 0px 2px 0px 0px #d8d5d5;
    padding: 15px;
}

.fiche .prenom {
    height: 4.5%;
    box-shadow: 0px 2px 0px 0px #d8d5d5;
    padding: 15px;
}

.fiche .mdps {
    height: 4.5%;
    box-shadow: 0px 2px 0px 0px #d8d5d5;
    padding: 15px;
}

.fiche .email {
    height: 4.5%;
    box-shadow: 0px 2px 0px 0px #d8d5d5;
    padding: 15px;
}

.r {
    right: 0;
    margin-left: 50px;
}

.fiche .title {
    margin-left: 30px;
}

.chevron-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    display: inline-block;
    cursor: pointer;
    margin-left: 730px;
}

.chevron-right2 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    display: inline-block;
    cursor: pointer;
    margin-left: 790px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
    margin-top: 2%;
}

.formulaire .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulaire input {
    height: 27px;
    width: 365px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.8px solid #ccc;
    font-size: 13px;
}

.formulaire .input-box {
    margin-bottom: 10px;
}

.formulaire #notes {
    border-radius: 5px;
}

.formulaire h2 {
    color: #0BA4AB;
    font-size: 30px;
}

.form #notes:hover,
.form #médicament:hover,
.formulaire input:hover,
.formulaire #notes:hover {
    background-color: #e9FFFF;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 0px 0px #e9FFFF;

}

.today-date .event-day {
    font-size: 3rem;
    font-weight: 400;
    color: #1A17A5;
}


.datepicker-days .today,
.datepicker-days .active.today,
.datepicker-days .active.today.active {
    background-color: blue;
    color: white;
}

.today {
    background-color: #04a3ab;
    font-size: 2rem;
    color: #fff;
}